@font-face{
  font-family: bell-gothic;
  src: url('../fonts/bell-gothic-black/BellGothicStd-Black.otf');
  font-weight: 200;
}

@font-face{
  font-family: bell-gothic;
  src: url('../fonts/bell-gothic-black/BellGothicStd-Light.otf');
  font-weight: 100;
}

html,body{ height:100%; width:100%; margin:0 auto; font-family: bell-gothic; overflow: hidden;}
#chart{touch-action: none; width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;}
svg{transform: scale(0.5);}